*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#0f172a,#1e293b,#2563eb);

    font-family:'Segoe UI',sans-serif;

}

.container{

    display:flex;

    justify-content:center;

    align-items:center;

}

.glass-card{

    width:720px;

    background:rgba(255,255,255,.12);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.2);

    border-radius:20px;

    padding:45px;

    color:white;

    box-shadow:0 15px 40px rgba(0,0,0,.35);

}

h1{

    text-align:center;

    font-size:40px;

    font-weight:700;

}

.subtitle{

    text-align:center;

    margin-top:10px;

    margin-bottom:35px;

    color:#d1d5db;

}

.form-label{

    font-weight:600;

}

.form-control{

    background:white;

    border:none;

    border-radius:12px;

    padding:14px;

}

.form-control:focus{

    box-shadow:0 0 0 4px rgba(37,99,235,.3);

}

.btn{

    border-radius:12px;

    padding:15px;

    font-size:18px;

    transition:.3s;

}

.btn:hover{

    transform:translateY(-3px);

}

.footer-text{

    text-align:center;

    margin-top:25px;

    color:#cbd5e1;

    font-size:14px;

}